services:
  echoservice-test-redis:
    image: redis:7-alpine
    container_name: echoservice-test-redis
    ports:
      - "6379:6379"
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
  echoservice-test-mock-server:
    container_name: echoservice-test-mock-server
    build:
      context: ./mock-echolalia
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    networks:
      - echoservice-test
    environment:
      - EXPECTED_CLIENT_ID=my-client-id
      - EXPECTED_CLIENT_SECRET=my-client-secret
      - FLASK_PORT=8080
      - PYTHONUNBUFFERED=1
  echoservice-test-daemon:
    container_name: echoservice-test-daemon
    build:
      context: ./daemon
      dockerfile: Dockerfile
    depends_on:
      - echoservice-test-redis
      - echoservice-test-vtc-worker
    networks:
      - echoservice-test
      - echoservice-test-external
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_echolalia_folder:/app/echolalia
      - /app/echolalia/outputs # will ignore it
    command: ["-m", "src.cli", "--config", "/app/echolalia/test-config.toml"]
  echoservice-test-vtc-worker:
    container_name: echoservice-test-vtc-worker
    build:
      context: ./vtc-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - CONDA_ENV_NAME=pyannote
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_echolalia_folder/test-config.toml:/app/echolalia/test-config.toml
      - ./tests/dummy_datasets:/app/datasets
  echoservice-test-alice-worker:
    platform: linux/amd64
    container_name: echoservice-test-alice-worker
    build:
      context: ./alice-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
      - echoservice-test-external
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - CONDA_ENV_NAME=ALICE
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_echolalia_folder/test-config.toml:/app/echolalia/test-config.toml
      - ./tests/dummy_datasets:/app/datasets
  echoservice-test-acoustics-worker:
    container_name: echoservice-test-acoustics-worker
    build:
      context: ./acoustics-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_echolalia_folder/test-config.toml:/app/echolalia/test-config.toml
      - ./tests/dummy_datasets:/app/datasets
  echoservice-test-e2e:
    container_name: echoservice-test-e2e
    build:
      context: ./tests
      dockerfile: Dockerfile
    depends_on:
      - echoservice-test-mock-server
      - echoservice-test-redis
      - echoservice-test-daemon
      - echoservice-test-vtc-worker
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - PYTHONUNBUFFERED=1
networks:
  echoservice-test:
    driver: bridge
    internal: true
  echoservice-test-external:
    external: true