services:
  echoservice-test-redis:
    image: redis:7-alpine
    container_name: echoservice-test-redis
    ports:
      - "6379:6379"
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
  echoservice-test-mock-server:
    container_name: echoservice-test-mock-server
    build:
      context: ./mock-echolalia
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    networks:
      - echoservice-test
    environment:
      - EXPECTED_CLIENT_ID=my-client-id
      - EXPECTED_CLIENT_SECRET=my-client-secret
      - FLASK_PORT=8080
      - PYTHONUNBUFFERED=1
  echoservice-test-daemon:
    container_name: echoservice-test-daemon
    build:
      context: ./daemon
      dockerfile: Dockerfile
    depends_on:
      - echoservice-test-mock-server
      - echoservice-test-redis
    networks:
      - echoservice-test
      - echoservice-test-external
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - CLIENT_ID=my-client-id
      - BASE_URL=http://echoservice-test-mock-server:8080
      - CLIENT_SECRET=my-client-secret
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_echolalia_folder:/app/echolalia
      - /app/echolalia/outputs # will ignore it
  echoservice-test-vtc-worker:
    container_name: echoservice-test-vtc-worker
    build:
      context: ./vtc-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_FOLDER=/app/voice_type_classifier
      - CONDA_ENV_NAME=pyannote
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_datasets:/app/datasets
      - ./tests/dummy_echolalia_folder:/app/echolalia
  echoservice-test-vtc-2-worker:
    container_name: echoservice-test-vtc-2-worker
    build:
      context: ./vtc-2-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
      - echoservice-test-external
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_2_FOLDER=/app/VTC
      - VTC_2_DEVICE=cpu
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_datasets:/app/datasets
      - ./tests/dummy_echolalia_folder:/app/echolalia
  echoservice-test-alice-worker:
    platform: linux/amd64
    container_name: echoservice-test-alice-worker
    build:
      context: ./alice-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - ALICE_FOLDER=/app/ALICE
      - CONDA_ENV_NAME=ALICE
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_datasets:/app/datasets
      - ./tests/dummy_echolalia_folder:/app/echolalia
  echoservice-test-acoustics-worker:
    container_name: echoservice-test-acoustics-worker
    build:
      context: ./acoustics-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_datasets:/app/datasets
      - ./tests/dummy_echolalia_folder:/app/echolalia
  echoservice-test-w2v2-worker:
    container_name: echoservice-test-w2v2-worker
    build:
      context: ./w2v2-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-test-redis
    networks:
      - echoservice-test
      - echoservice-test-external # I'd rather not, but needs HuggingFace connection
    environment:
      - REDIS_HOST=echoservice-test-redis
      - REDIS_PORT=6379
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - MAKE_CHUNKS_THREADS=8
      - W2V2_FOLDER=/app/speech-maturity
      - W2V2_DEVICE=cpu
      - NUM_WORKERS=2 # May need tuning if you get "RuntimeError: stack expects a non-empty TensorList"
      - BATCH_SIZE=32 # May need tuning if you get "RuntimeError: stack expects a non-empty TensorList"
      - PYTHONUNBUFFERED=1
    volumes:
      - ./tests/dummy_datasets:/app/datasets
      - ./tests/dummy_echolalia_folder:/app/echolalia
  echoservice-test-e2e:
    container_name: echoservice-test-e2e
    build:
      context: ./tests
      dockerfile: Dockerfile
    depends_on:
      - echoservice-test-redis
      - echoservice-test-daemon
    networks:
      - echoservice-test
    environment:
      - EXPECTED_CLIENT_ID=my-client-id
      - EXPECTED_CLIENT_SECRET=my-client-secret
      - BASE_URL=http://echoservice-test-mock-server:8080
      - PYTHONUNBUFFERED=1
networks:
  echoservice-test:
    driver: bridge
    internal: true
  echoservice-test-external:
    external: true