version: "3.9"
services:
  echoswarm-redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - echoswarm
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    deploy:
      replicas: 1
  echoswarm-daemon:
    image: me/echoswarm-daemon:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
      - echoswarm-external
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - BASE_URL=${BASE_URL}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
  echoswarm-vtc-worker:
    image: me/echoswarm-vtc:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_FOLDER=/app/voice_type_classifier
      - VTC_DEVICE=${VTC_DEVICE}
      - CONDA_ENV_NAME=pyannote
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - NVIDIA_VISIBLE_DEVICES=0
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.gpu == true
  echoswarm-vtc-2-worker:
    image: me/echoswarm-vtc-2:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
      - echoswarm-external
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_2_FOLDER=/app/VTC
      - VTC_2_DEVICE=${VTC_2_DEVICE}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - NVIDIA_VISIBLE_DEVICES=0
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.gpu == true
  echoswarm-alice-worker:
    image: me/echoswarm-alice:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - ALICE_FOLDER=/app/ALICE
      - ALICE_DEVICE=${ALICE_DEVICE}
      - CONDA_ENV_NAME=ALICE
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - NVIDIA_VISIBLE_DEVICES=1
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.gpu == true
  echoswarm-acoustics-worker:
    image: me/echoswarm-acoustics:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
  echoswarm-w2v2-worker:
    image: me/echoswarm-w2v2:latest
    depends_on:
      - echoswarm-redis
    networks:
      - echoswarm
      - echoswarm-external # I'd rather not, but needs HuggingFace connection
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - CHUNKIFY_THREADS=${W2V2_CHUNKIFY_THREADS}
      - W2V2_FOLDER=/app/speech-maturity
      - W2V2_DEVICE=${W2V2_DEVICE}
      - NUM_WORKERS=${W2V2_NUM_WORKERS}
      - BATCH_SIZE=${W2V2_BATCH_SIZE}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - NVIDIA_VISIBLE_DEVICES=2
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.gpu == true
networks:
  echoswarm:
    driver: overlay
  echoswarm-external:
    external: true