services:
  echoservice-redis:
    image: redis:7-alpine
    container_name: echoservice-redis
    ports:
      - "6379:6379"
    networks:
      - echoservice
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
  echoservice-mock-server:
    container_name: echoservice-mock-server
    build:
      context: ./mock-echolalia
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - echoservice
    environment:
      - EXPECTED_CLIENT_ID=${CLIENT_ID}
      - EXPECTED_CLIENT_SECRET=${CLIENT_SECRET}
      - FLASK_PORT=${FLASK_PORT}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
  echoservice-daemon:
    container_name: echoservice-daemon
    build:
      context: ./daemon
      dockerfile: Dockerfile
    depends_on:
      - echoservice-redis
      - echoservice-mock-server
    networks:
      - echoservice
      - echoservice-external
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - BASE_URL=${BASE_URL}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-vtc-worker:
    container_name: echoservice-vtc-worker
    build:
      context: ./vtc-worker
      dockerfile: Dockerfile
      network: host # I need this for Conda installation
    depends_on:
      - echoservice-redis
    networks:
      - echoservice
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_FOLDER=/app/voice_type_classifier
      - VTC_DEVICE=${VTC_DEVICE}
      - CONDA_ENV_NAME=pyannote
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-vtc-2-worker:
    container_name: echoservice-vtc-2-worker
    build:
      context: ./vtc-2-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-redis
    networks:
      - echoservice
      - echoservice-external
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - VTC_2_FOLDER=/app/VTC
      - VTC_2_DEVICE=${VTC_2_DEVICE}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-alice-worker:
    platform: linux/amd64
    container_name: echoservice-alice-worker
    build:
      context: ./alice-worker
      dockerfile: Dockerfile
      network: host # Needed for conda installation
    depends_on:
      - echoservice-redis
    networks:
      - echoservice
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - ALICE_FOLDER=/app/ALICE
      - ALICE_DEVICE=${ALICE_DEVICE}
      - CONDA_ENV_NAME=ALICE
      - CONDA_ACTIVATE_FILE=/opt/conda/bin/activate
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-acoustics-worker:
    container_name: echoservice-acoustics-worker
    build:
      context: ./acoustics-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-redis
    networks:
      - echoservice
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-w2v2-worker:
    container_name: echoservice-w2v2-worker
    build:
      context: ./w2v2-worker
      dockerfile: Dockerfile
      network: host
    depends_on:
      - echoservice-redis
    networks:
      - echoservice
      - echoservice-external # I'd rather not, but needs HuggingFace connection
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - ECHOLALIA_DIR=/app/echolalia
      - DATASETS_DIR=/app/datasets
      - CHUNKIFY_THREADS=${W2V2_CHUNKIFY_THREADS}
      - W2V2_FOLDER=/app/speech-maturity
      - W2V2_DEVICE=${W2V2_DEVICE}
      - NUM_WORKERS=${W2V2_NUM_WORKERS}
      - BATCH_SIZE=${W2V2_BATCH_SIZE}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
    volumes:
      - ${DATASETS_FOLDER}:/app/datasets
      - ${ECHOLALIA_FOLDER}:/app/echolalia
  echoservice-e2e:
    container_name: echoservice-e2e
    build:
      context: ./tests
      dockerfile: Dockerfile
    depends_on:
      - echoservice-redis
      - echoservice-daemon
    networks:
      - echoservice
    environment:
      - EXPECTED_CLIENT_ID=${CLIENT_ID}
      - EXPECTED_CLIENT_SECRET=${CLIENT_SECRET}
      - BASE_URL=${BASE_URL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
networks:
  echoservice:
    driver: bridge
    internal: true
  echoservice-external:
    external: true