# -- bitcode -- #
__pycache__/

# -- build -- #
dist/

# -- created by tox -- #
.tox
.mypy_cache
.pytest_cache

# -- redis -- #
dump.rdb

# -- outputs of models are thrown into the dataset -- #
# -- on ATOL's request                             -- #
dummy_datasets/*/outputs/**