name: Pull Request Checks

on:
- pull_request
- merge_group

concurrency:
  # Only allow one run at a time of this workflow per PR
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.0.0
      with:
        python-version: "3.13"
    - name: Install tox
      run: python -m pip install tox
    - name: Run linting checks
      run: tox -e lint
      working-directory: daemon
    - name: Run formatting checks
      run: tox -e format
      working-directory: daemon
    - name: Run type checks
      run: tox -e typecheck
      working-directory: daemon

  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python:
        - version: "3.13"
          toxenv: "py313"

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.0.0
      with:
        python-version: ${{ matrix.python.version }}
    - name: Install tox
      run: python -m pip install tox
    - name: Install Redis
      run: |
        if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
          sudo apt-get update
          sudo apt-get install -y redis-server
        elif [ "${{ matrix.os }}" == "macos-latest" ]; then
          brew install redis
        fi
    - name: Run unit tests
      run: tox -e ${{ matrix.python.toxenv }} -- tests/unit --randomly-seed=$RANDOM
      working-directory: daemon
      env:
        REDIS_HOST: localhost
        REDIS_PORT: 6379
    - name: Run E2E tests
      run: tox -e ${{ matrix.python.toxenv }} -- tests/e2e --randomly-seed=$RANDOM
      working-directory: daemon
      env:
        REDIS_HOST: localhost
        REDIS_PORT: 6379
        ECHOLALIA_BASE_URL: ${{ secrets.ECHOLALIA_BASE_URL }}
        ECHOLALIA_CLIENT_ID: ${{ secrets.ECHOLALIA_CLIENT_ID }}
        ECHOLALIA_CLIENT_SECRET: ${{ secrets.ECHOLALIA_CLIENT_SECRET }}